.container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.logo {
  position: absolute;
  left: 5vw;
}
nav {
  display: flex;
  justify-content: right;
  width: 90vw;
}
.right {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}


main{
  margin: 10vmin;
  width: 50vw;
}