<div class="container">
  <header>
    <a routerLink="home"><img class="logo" width="30px" src="../../assets/svg/egg.svg" alt="logo" /></a>
    <nav>
      <div class="spacer"></div>
      <div class="right">
        <a [routerLink]="['home']" routerLinkActive="router-link-active"
          >home</a
        >
        <a [routerLink]="['blog']" routerLinkActive="router-link-active"
          >blog</a
        >
        <a [routerLink]="['proj']" routerLinkActive="router-link-active"
          >projects</a
        >
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
