.container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.logo {
  position: absolute;
  left: 1rem;
}
nav {
  display: flex;
  justify-content: right;
  width:20rem;
}

.right {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  a{
    color:var(--font-color);
    margin:0 0.2rem;
  }
}
.router-link-active {
  color:var(--active-color)!important;
}

main{
  margin: 2rem 0 ;
  width: 100%;
  overflow: hidden;
}
.spacer{
  width:100vw;
}
footer{
  color:var(--font-color)
}