.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
aside {
  width: 7rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  a+a{
    margin-top: 2rem;
  }
}
main {
  width:100%;
  display: block;
  right:1rem;
}
