.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
aside {
  width: 5rem;
  display: flex;
  flex-direction: column;
  a+a{
    margin-top: 2rem;
  }
}
main {
  width: 18rem;
  display: block;
  right:1rem;
}
