<div class="container">
  <h1 class="flex-single">Thawing X</h1>
  <p class="flex-single">
    Hello, I'm Thawing X, a newcomer, being fond of front-end, being applying
    for a job.
  </p>
  <p class="flex-single">
    I am learning the toolchain of front-end and want to be a sponsor to the
    community
  </p>
  <p class="flex-single">
    Find me on
    <a target="_blank" href="https://github.com/ThawingX">Github</a>,<a
      target="_blank"
      href="https://twitter.com/XThawingX"
      >Twitter</a
    >
    or <a target="_blank" href="https://weibo.com/u/5095983762">微博</a>
  </p>
  <p class="flex-single">Mail me at <a href="mailto:ThawingX@gmail.com">ThawingX@gmail.com</a></p>
</div>
